$textColor: black;

body {
  color: $textColor;
  margin: 0;
  padding: 0;
}

nav {
  border: 2px solid black;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  
    li {
      margin: 0;
      padding: 4px;

      a {
        color: blue;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  
  }

}